.body {
    background-image: url("/public/closeup-black-electric-guitar-on-dark-background.jpg");
  }
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
  }
  
  .Auth-form {
    width: 520px;
    box-shadow: rgba(210, 21, 21, 0) 1px 1px 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgba(173, 152, 237, 0.672);
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
  
  label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }