body{
  background: linear-gradient(to left, #040404, #52b6b8);
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 60%;
}

#content-chat{
  height: 550px;
  overflow-y: scroll;
}

#nickname{
  width: 12em;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

